services:
  main:
    networks:
      - default
      - traefik
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik'
      # Basic Auth Middleware
      - 'traefik.http.middlewares.n8n.basicauth.users=${USERNAME?Variable USERNAME not set}:${HASHED_PASSWORD?Variable HASHED_PASSWORD not set}'
      # Service
      - 'traefik.http.services.n8n.loadbalancer.server.port=${N8N_PORT}'
      # HTTPS Host
      - 'traefik.http.routers.n8n.rule=Host(`${DOMAIN}`)'
      - 'traefik.http.routers.n8n.entrypoints=websecure'
      - 'traefik.http.routers.n8n.tls=true'
      - 'traefik.http.routers.n8n.tls.certResolver=webcert'
      - 'traefik.http.routers.n8n.service=n8n'

  workers:
    networks:
      - default

  runners:
    networks:
      - default

  db:
    networks:
      - default

  qdrant:
    networks:
      - default

  redis:
    networks:
      - default

  adminer:
    networks:
      - default
      - traefik
    labels:
      # Traefik
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik'
      # Service
      - 'traefik.http.services.n8n-adminer.loadbalancer.server.port=8080'
      # HTTPS Host
      - 'traefik.http.routers.n8n-adminer.rule=Host(`${DOMAIN_ADMINER}`)'
      - 'traefik.http.routers.n8n-adminer.entrypoints=websecure'
      - 'traefik.http.routers.n8n-adminer.tls=true'
      - 'traefik.http.routers.n8n-adminer.tls.certResolver=webcert'
      - 'traefik.http.routers.n8n-adminer.service=n8n-adminer'

  redisinsight:
    networks:
      - default
      - traefik
    labels:
      # Traefik
      - 'traefik.enable=true'
      - 'traefik.docker.network=traefik'
      # Auth
      - 'traefik.http.routers.n8n-redisinsight.middlewares=n8n@docker'
      # Service
      - 'traefik.http.services.n8n-redisinsight.loadbalancer.server.port=5540'
      # HTTPS Host
      - 'traefik.http.routers.n8n-redisinsight.rule=Host(`${DOMAIN_REDISINSIGHT}`)'
      - 'traefik.http.routers.n8n-redisinsight.entrypoints=websecure'
      - 'traefik.http.routers.n8n-redisinsight.tls=true'
      - 'traefik.http.routers.n8n-redisinsight.tls.certResolver=webcert'
      - 'traefik.http.routers.n8n-redisinsight.service=n8n-redisinsight'

networks:
  traefik:
    external: true
