# Traefik
DOMAIN=plausible.example.com

# App
BASE_URL=replace-me
PORT=8000
# Must be at least 64-bytes long (can be generated with `openssl rand -hex 64`)
SECRET_KEY_BASE=replace-me
DATABASE_URL=postgres://plausible:123456@db:5432/db
CLICKHOUSE_DATABASE_URL=http://events_db:8123/db

# Mailer
MAILER_EMAIL=plausible@yourdomain.com
POSTMARK_API_KEY=<your-api-key>

# Postgres
POSTGRES_DB=db
POSTGRES_USER=plausible
POSTGRES_PASSWORD=123456

# GeoIP (https://www.maxmind.com/en/geoip2-services-and-databases)
GEOIPUPDATE_ACCOUNT_ID=<your-account-id>
GEOIPUPDATE_LICENSE_KEY=<your-license-key>
