# Traefik
DOMAIN=plausible.example.com

# App
BASE_URL=replace-me
HTTP_PORT=8000
# Must be at least 64-bytes long (can be generated with `openssl rand -hex 64`)
SECRET_KEY_BASE=replace-me
DATABASE_URL=postgres://plausible:123456@db:5432/db
CLICKHOUSE_DATABASE_URL=http://events_db:8123/db
DISABLE_REGISTRATION=invite_only
ENABLE_EMAIL_VERIFICATION=false

# Mailer
MAILER_NAME=Plausible Analytics
MAILER_EMAIL=plausible@yourdomain.com
POSTMARK_API_KEY=<your-api-key>

# Others
# SENTRY_DSN=
# HONEYCOMB_API_KEY=
# HONEYCOMB_DATASET=

# Postgres
POSTGRES_DB=db
POSTGRES_USER=plausible
POSTGRES_PASSWORD=123456

# MaxMind GeoIP (https://www.maxmind.com/en/geoip2-services-and-databases)
MAXMIND_LICENSE_KEY=<your-maxmind-license-key>
