services:
  app:
    image: plausible/analytics:latest
    restart: unless-stopped
    volumes:
      - ./data/geoip:/geoip:ro
    environment:
      - BASE_URL=${BASE_URL}
      - SECRET_KEY_BASE=${SECRET_KEY_BASE}
      - PORT=${PORT}
      - DATABASE_URL=${DATABASE_URL}
      - CLICKHOUSE_DATABASE_URL=${CLICKHOUSE_DATABASE_URL}
      - DISABLE_REGISTRATION=${DISABLE_REGISTRATION}
      - ENABLE_EMAIL_VERIFICATION=${ENABLE_EMAIL_VERIFICATION}
      - GEOLITE2_COUNTRY_DB=/geoip/GeoLite2-Country.mmdb
      - MAILER_EMAIL=${MAILER_EMAIL}
      - MAILER_ADAPTER=Bamboo.PostmarkAdapter
      - POSTMARK_API_KEY=${POSTMARK_API_KEY}
      - SENTRY_DSN=${SENTRY_DSN}
      - HONEYCOMB_API_KEY=${HONEYCOMB_API_KEY}
      - HONEYCOMB_DATASET=${HONEYCOMB_DATASET}
    depends_on:
      - db
      - events_db
      - geoip
      # - mail
    command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh run"

  db:
    # Supported versions: 12, 13, and 14
    image: postgres:14-alpine
    restart: unless-stopped
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

  events_db:
    image: clickhouse/clickhouse-server:24.12-alpine
    restart: unless-stopped
    volumes:
      - ./data/clickhouse:/var/lib/clickhouse
      - ./logs/clickhouse:/var/log/clickhouse-server
      - ./config/clickhouse/logs.xml:/etc/clickhouse-server/config.d/logs.xml:ro
      # This makes ClickHouse bind to IPv4 only, since Docker doesn't enable IPv6 in bridge networks by default.
      # Fixes "Listen [::]:9000 failed: Address family for hostname not supported" warnings.
      - ./config/clickhouse/ipv4-only.xml:/etc/clickhouse-server/config.d/ipv4-only.xml:ro
      # This makes ClickHouse consume less resources, which is useful for small setups.
      # https://clickhouse.com/docs/en/operations/tips#using-less-than-16gb-of-ram
      - ./config/clickhouse/low-resources.xml:/etc/clickhouse-server/config.d/low-resources.xml:ro
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget --no-verbose --tries=1 -O - http://127.0.0.1:8123/ping || exit 1',
        ]
      start_period: 1m

  geoip:
    image: maxmindinc/geoipupdate
    restart: unless-stopped
    volumes:
      - ./data/geoip:/usr/share/GeoIP
    environment:
      - GEOIPUPDATE_ACCOUNT_ID=${GEOIPUPDATE_ACCOUNT_ID}
      - GEOIPUPDATE_LICENSE_KEY=${GEOIPUPDATE_LICENSE_KEY}
      - GEOIPUPDATE_EDITION_IDS=GeoLite2-Country
      - GEOIPUPDATE_FREQUENCY=168 # Update every 7 days
  # mail:
  #   image: bytemark/smtp
  #   restart: unless-stopped
