# Traefik
DOMAIN=openobserve.example.com

# Postgres
POSTGRES_DB=db
POSTGRES_USER=plausible
POSTGRES_PASSWORD=123456

ZO_ROOT_USER_EMAIL=
ZO_ROOT_USER_PASSWORD=
ZO_S3_ACCESS_KEY=
ZO_S3_SECRET_KEY=
ZO_S3_SERVER_URL=
ZO_S3_REGION_NAME=
ZO_S3_BUCKET_NAME=
ZO_S3_PROVIDER=
