services:
  auto_update:
    image: nickfedor/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.docker/config.json:/config.json
    # Update check interval in seconds.
    command: --interval 300 --label-enable --cleanup
