DOMAIN=errbit.yourdomain.com

MONGODB_USERNAME=errbit
MONGODB_PASSWORD=yourpassword

# Mongo Express Auth
MONGO_EXPRESS_USERNAME=user
MONGO_EXPRESS_PASSWORD=password

# Errbit
# https://github.com/errbit/errbit/blob/main/docs/configuration.md#application-parameters

# RAILS_ENV=development
# This will force the app to redirect to https
RAILS_ENV=production

# Can be generated with `rake secret`
SECRET_KEY_BASE=your_secret_key_base

ERRBIT_ADMIN_EMAIL=admin@domain.com
ERRBIT_ADMIN_PASSWORD=password
ERRBIT_ADMIN_USER=admin
ERRBIT_CONFIRM_ERR_ACTIONS=true
ERRBIT_USER_HAS_USERNAME=true
ERRBIT_USE_GRAVATAR=true
# ERRBIT_GRAVATAR_DEFAULT=
ERRBIT_EMAIL_FROM=errbit@domain.com

EMAIL_DELIVERY_METHOD=smtp
SMTP_SERVER=mail.domain.com
SMTP_PORT=587
SMTP_AUTHENTICATION=plain
SMTP_USERNAME=user
SMTP_PASSWORD=password
SMTP_DOMAIN=domain.com
SMTP_ENABLE_STARTTLS_AUTO=true
